body {
    background-color: #000;
    color: rgb(13, 157, 42);
}

body a:visited, body a:link, body a:active {
    color: #e4d802;
}

table.vrp_history {
    font-family: monospace;
    text-align: left;
    vertical-align: bottom;
}

tr.vrp_history:nth-child(odd) {
    background-color: rgb(64, 50, 39);
}

td[data-field-name="prefix"] {
    font-family: monospace;
}

td[data-field-name="maxLength"] {
    text-align: center;
}

td[data-field-name="asn"] {
    text-align: left;
}

span.paginate_clickable {
    padding-left: 0.4em;
}

span.paginate_currently_displayed {
    color: #e4d802;
    padding-left: 0.4em;
}

@keyframes workingDots {
    0% { color:rgb(13, 157, 42); }
    100% { color:#e4d802; }
}

span.workingDot1 {
    animation-name: workingDots;
    animation-direction: alternate;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: jump-none;
}

span.workingDot2 {
    animation-name: workingDots;
    animation-direction: alternate;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: jump-none;
}

span.workingDot3 {
    animation-name: workingDots;
    animation-direction: alternate;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: jump-none;
}
